@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 27% 96%;
    --foreground: 222.2 84% 4.9%;
    --card: 213 27% 98%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 213 27% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 225 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 213 27% 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 213 27% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 145 52% 55%;
    --accent-foreground: 224 90% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 213 27% 91%;
    --input: 213 27% 91%;
    --ring: 225 100% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 20% 7%;
    --foreground: 210 40% 98%;
    --card: 220 20% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 20% 7%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 20% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 145 52% 55%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 225 100% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply scroll-mt-20;
  }
}
